<md-card>
<md-list>
  <h3>Rooms</h3>
  <md-list>
    <md-list-item>
      <h3 md-line>Broj sobe: 123</h3>
      <p md-line>
        <span>An awesome description</span>
      </p>
    </md-list-item>
  </md-list>
  <md-list>
    <md-list-item>
      <h3 md-line>Broj sobe: 123</h3>
      <p md-line>
        <span>An awesome description</span>
      </p>
    </md-list-item>
  </md-list>
  <md-list>
    <md-list-item>
      <h3 md-line>Broj sobe: 123</h3>
      <p md-line>
        <span>An awesome description</span>
      </p>
    </md-list-item>
  </md-list>
  <md-list>
    <md-list-item>
      <h3 md-line>Broj sobe: 123</h3>
      <p md-line>
        <span>An awesome description</span>
      </p>
    </md-list-item>
  </md-list>
  <md-list>
    <md-list-item>
      <h3 md-line>Broj sobe: 123</h3>
      <p md-line>
        <span>An awesome description</span>
      </p>
    </md-list-item>
  </md-list>

</md-list>
</md-card>
