<md-card>
  <md-list>
    <h3>Rooms</h3>
    <table class="example-full-width" cellspacing="5">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="BedCount" name="BedCount" [(ngModel)]="model.BedCount">
          </md-input-container>
        </td>
        <td>
          <button md-raised-button color="primary" (click)="doBedCountFilter()">Filter BedCount</button>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Description" name="Description" [(ngModel)]="model.Description">
          </md-input-container>
        </td>
        <td>
          <button md-raised-button color="primary" (click)="doDescriptionFilter()">Filter Description</button>
        </td>
        <!--<td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Minimum Price" name="MinPrice" [(ngModel)]="model.MinPrice">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Maximum Price" name="MaxPrice" [(ngModel)]="model.MaxPrice">
          </md-input-container>
        </td>-->
        <ion-range-slider item-width="100" #sliderElement
          type="double"
          min="10"
          max="100"
          from="28"
          from_min="10"
          from_max="30"
          from_shadow="true"
          to_shadow="true"
          grid="true"
          grid_num="10"
          prefix="$"></ion-range-slider>

        <td>
          <button md-raised-button color="primary" (click)="doPriceFilter()">Filter Price</button>
        </td>
      </tr>
    </table>
    <md-list *ngFor="let room of rooms" class="ui items">

      <app-room-row [room]="room" (click)="clicked(room)" [class.selected]="isSelected(room)">
      </app-room-row>

    </md-list>

  </md-list>
</md-card>