<form class="example-form" #f1="ngForm" (ngSubmit)="onSubmitPlace(f1.value, f1)">
  <table class="example-full-width" cellspacing="5">
    <tr>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Name" name="Name" ngModel>
        </md-input-container>
      </td>
      <td>
        <md-input-container>
          <input mdInput placeholder="RegionName" name="RegionName" [mdAutocomplete]="auto" ngModel >
        </md-input-container>

        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let myRegion of placeRegs" value={{myRegion.Name}}>
            {{myRegion.Name}}
          </md-option>
        </md-autocomplete>
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit" md-raised-button color="primary">Add</button>
      </td>
    </tr>
  </table>
</form>
