<div>
  <h3> Edit / Delete data </h3>
 <!--deo za unos editovanog-->
  <form class="example-form" #f1="ngForm">
    <table class="example-full-width" cellspacing="5">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Name" name="Name" 
            [(ngModel)]="model.Name">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
          <input mdInput placeholder="CountryName" name="CountryName" [mdAutocomplete]="auto"  [(ngModel)]="model.CountryName">
          </md-input-container>

        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let myCountry of countries" value={{myCountry.Name}}>
            {{myCountry.Name}}
          </md-option>
          </md-autocomplete>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button color="primary" (click)="updateRegion()">Save</button>
        </td>
      </tr>
    </table>
  </form>
<!--deo za prikaz-->
  <table>
    <thead>
      <tr>
        <th> Name </th>
        <th> Country Name </th>
        <th> Edit </th>
        <th> Delete </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let myRegion of regions">
        <td>{{myRegion.Name}}</td>
        <td>{{myRegion.Code}}</td>
        <td><button  md-raised-button  color="primary"(click)="editRegion(myRegion.Id)">Edit</button></td>
        <td><button  md-raised-button  color="accent" (click)="deleteRegion(myRegion.Id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>