<!--The whole content below can be removed with the new code.-->

<!--<h3>
<ol>
  <li><a  [routerLink]="['/country']">Drzava</a></li>
  <li><a  [routerLink]="['/place']">Mesto</a></li>
</ol>
<router-outlet></router-outlet> </h3>-->


<!--register part-->
<md-card>
  <md-tab-group [selectedIndex]="0">
    <md-tab label="Register">
      <h3>Please fill in the register form</h3>
      <form class="example-form" #f1="ngForm" (ngSubmit)="onSubmit(f1.value, f1)">
        <table class="example-full-width" cellspacing="5">
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="First name" name="name" ngModel>
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Last name" name="surname" ngModel>
              </md-input-container>
            </td>
          </tr>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput minlength="5" placeholder="Username" name="username" ngModel>
              </md-input-container>
            </td>
          </tr>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Email" name="email" ngModel>
              </md-input-container>
            </td>
          </tr>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input type="password" minlength="6" mdInput placeholder="Password" name="password" ngModel>
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input type="password" minlength="6" mdInput placeholder="Confirm password" name="confPassword" ngModel>
              </md-input-container>
            </td>
            <td>
              <button type="submit"  md-raised-button color="primary">Register</button>
              <!--<input type="submit" color="primary">Register</input>-->
            </td>
          </tr>
        </table>
      </form>
    </md-tab>

    <!--sign in part-->
    <md-tab label="Sing in">
      <h3>Please fill the sing in form</h3>
      <form class="example-form" #f2="ngForm" (ngSubmit)="onSubmit(f2.value, f2)">
        <table class="example-full-width" cellspacing="5">
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Username" name="username" ngModel>
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width">
                <input type="password" mdInput placeholder="Password" name="password" ngModel>
              </md-input-container>
            </td>
          </tr>
          <tr>
            <td>
              <button type="submit"  md-raised-button color="accent">Sign in</button>
            </td>
          </tr>
        </table>
      </form>
    </md-tab>
  </md-tab-group>
</md-card>