<md-card>
<h2> Allow or prevent manager to create new accommodation </h2>
<table>
    <thead>
      <tr>
        <th> Username </th>
        <th> Full name </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let manager of managers">
        <td>{{manager.UserName}}</td>
        <td>{{manager.FullName}}</td>  
        <td><button md-raised-button color="primary" (click)="AllowCreating(manager.Id)">Allow</button></td>
        <td><button md-raised-button color="accent" (click)="PreventCreating(manager.Id)">Prevent</button></td>
      </tr>
    </tbody>
  </table>

</md-card>