<md-card>

  <md-tab-group [selectedIndex]="0">
    <md-tab label="Countries">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Show All">
        </md-tab>
        <md-tab label="Edit">
        </md-tab>
        <md-tab label="Add">
          <app-country-add>
          </app-country-add>
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Regions">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Show All">
        </md-tab>
        <md-tab label="Edit">
        </md-tab>
        <md-tab label="Add">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Places">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Show All">
        </md-tab>
        <md-tab label="Edit">
        </md-tab>
        <md-tab label="Add">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Accommodation">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Show All">
        </md-tab>
        <md-tab label="Edit">
        </md-tab>
        <md-tab label="Add">
          
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Accommodation Type">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Show All">
        </md-tab>
        <md-tab label="Edit">
        </md-tab>
        <md-tab label="Add">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Users">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Show All">
        </md-tab>
        <md-tab label="Edit">
        </md-tab>
        <md-tab label="Add">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Notifications">
    </md-tab>
  </md-tab-group>

</md-card>