<md-card>

  <md-tab-group [selectedIndex]="0">
    <md-tab label="Countries" *ngIf="!isLoggedInManager()">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Edit/Delete">
        <app-country-edit>
        </app-country-edit>
        </md-tab>
        <md-tab label="Add">
          <app-country-add>
          </app-country-add>
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Regions" *ngIf="!isLoggedInManager()" >
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Edit/Delete">
        <app-region-edit>
        </app-region-edit>
        </md-tab>
        <md-tab label="Add">
          <app-region-add>
          </app-region-add>
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Places" *ngIf="!isLoggedInManager()">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Edit/Delete">
        <app-place-edit>
        </app-place-edit>
        </md-tab>
        <md-tab label="Add">
          <app-place-add>
          </app-place-add>
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Accommodation">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Edit/Delete">
        </md-tab>
        <md-tab label="Add">
          <app-accommodation-add>
          </app-accommodation-add>
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Room">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Show All">
        </md-tab>
        <md-tab label="Edit">
        </md-tab>
        <md-tab label="Add">
         
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Room Type">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Show All">
        </md-tab>
        <md-tab label="Edit">
        </md-tab>
        <md-tab label="Add">
          
          
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Accom Type" >
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Edit/Delete">
        <app-accommodation-type-edit>
        </app-accommodation-type-edit>
        </md-tab>
        <md-tab label="Add">
          <app-accommodation-type-add>
          </app-accommodation-type-add>
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Users" *ngIf="!isLoggedInManager()">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Show All">
        </md-tab>
        <md-tab label="Edit">
        </md-tab>
        <md-tab label="Add">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Notifications">
    </md-tab>
  </md-tab-group>

</md-card>