<md-card>

  <md-tab-group [selectedIndex]="0">
    <md-tab label="Drzave">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Prikaz">
        </md-tab>
        <md-tab label="Izmena">
        </md-tab>
        <md-tab label="Dodavanje">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Regioni">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Prikaz">
        </md-tab>
        <md-tab label="Izmena">
        </md-tab>
        <md-tab label="Dodavanje">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Mesta">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Prikaz">
        </md-tab>
        <md-tab label="Izmena">
        </md-tab>
        <md-tab label="Dodavanje">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Smestaj">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Prikaz">
        </md-tab>
        <md-tab label="Izmena">
        </md-tab>
        <md-tab label="Dodavanje">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Tip smestaja">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Prikaz">
        </md-tab>
        <md-tab label="Izmena">
        </md-tab>
        <md-tab label="Dodavanje">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Korisnici">
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Prikaz">
        </md-tab>
        <md-tab label="Izmena">
        </md-tab>
        <md-tab label="Dodavanje">
        </md-tab>
      </md-tab-group>
    </md-tab>
    <md-tab label="Notifikacije">
    </md-tab>
  </md-tab-group>

</md-card>