<div>
  <h3> Edit / Delete data </h3>
  <!--deo za unos editovanog-->
  <form class="example-form" #f1="ngForm">
    <table class="example-full-width" cellspacing="5">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Name" name="Name" [(ngModel)]="model.Name">
          </md-input-container>
        </td>
        <td>
          <agm-map [latitude]="model.Latitude" [longitude]="model.Longitude" (mapClick)="mapClicked($event)">
          <agm-marker [latitude]="model.Latitude" [longitude]="model.Longitude">
           </agm-marker>
          </agm-map>
        </td>
      </tr>
      <tr>
        <td>
          <!--<md-input-container class="example-full-width">
            <input mdInput placeholder="Code" name="Code" [(ngModel)]="model.Code">
          </md-input-container>-->
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Address" name="Address" [(ngModel)]="model.Address">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="PlaceName" name="PlaceName" [mdAutocomplete]="auto" [(ngModel)]="model.PlaceName">
          </md-input-container>

          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let myPlace of places" value={{myPlace.Name}}>
              {{myPlace.Name}}
            </md-option>
          </md-autocomplete>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="AccomTypeName" name="AccomTypeName" [mdAutocomplete]="auto2" [(ngModel)]="model.AccomTypeName">
          </md-input-container>

          <md-autocomplete #auto2="mdAutocomplete">
            <md-option *ngFor="let myAccType of acctypes" value={{myAccType.Name}}>
              {{myAccType.Name}}
            </md-option>
          </md-autocomplete>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Description" name="Description" [(ngModel)]="model.Description">
          </md-input-container>
        </td>
        <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Latitude" name="Latitude" [(ngModel)]="model.Latitude">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Longitude" name="Longitude" [(ngModel)]="model.Longitude">
        </md-input-container>
      </td>
      </tr>
      <tr>
         <td>
            <image-upload
                  [max]="100"
                  [url]="'http://localhost:54042/api/accommodation/upload'"
                  [headers]="[
                  {header: 'Authorization', value: token}
                  ]"
                  [buttonCaption]="'Select Images!'"
                  [dropBoxMessage]="'Drop your images here!'"
                  (onFileUploadFinish)="imageUploaded($event)"
                  (onRemove)="imageRemoved($event)"
                  (isPending)="disableSendButton($event)">
            </image-upload>
        </td>
      </tr>
      <tr>
        <td>
          <button md-raised-button color="primary" (click)="updateAccommodation()">Save</button>
        </td>
      </tr>
    </table>
  </form>
  <!--deo za prikaz-->
  <table>
    <thead>
      <tr>
        <th> Name </th>
        <th> Address </th>
        <th> Place Name </th>
        <th> Accommodation Type </th>
        <th> Latitude </th>
        <th> Longitude </th>
        <th> Description </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let myAccom of accommodations">
        <td>{{myAccom.Name}}</td>
        <td>{{myAccom.Address}}</td>
        <td>{{myAccom.PlaceName}}</td>
        <td>{{myAccom.AccomTypeName}}</td>
        <td>{{myAccom.Latitude}}</td>
        <td>{{myAccom.Longitute}}</td>
        <td>{{myAccom.Description}}</td>
        <td><button md-raised-button color="primary" (click)="editAccommodation(myAccom.Id)">Edit</button></td>
        <td><button md-raised-button color="accent" (click)="deleteAccommodation(myAccom.Id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>