<!-- <md-card item-width="100" item-height="100" > -->
<!-- <md-list-item *ngIf="accommodation.Approved == true"> -->
<md-card >
  <!-- <md-card item-width="10" item-height="10"> -->
  <img md-card-lg-image  [src]="accommodation.ImageURL" alt="Image 1" height="250" width="250" >
  <h2 md-line>{{accommodation.Name}}</h2>
  <!-- <p md-line>
    <span>{{accommodation.Description}}</span>
  </p> -->
  <p md-line>
    <span>Ocena: {{accommodation.AverageGrade}}</span>
  </p>
  <p md-line>

  </p>
  <p md-line>
    <button md-raised-button color="primary" (click)="showDetails(accommodation.Id)">Details</button>
  </p>
</md-card>
<!-- </md-list-item> -->
