
<!--<md-card>

<md-list>
  <md-list-item>
    <p md-line>
      <span> Manager ..... </span>
      <span> Created accommodation .... </span>
      <span>  <button md-raised-button color="primary">Accept</button>  </span>
      <span>  <button md-raised-button color="primary">Decline</button> </span>
    </p>
  </md-list-item>
</md-list>
</md-card>-->

<h1>Current Time</h1>
<button (click) = "startTimer()">Start Timer</button>
<button (click) = "stopTimer()">Stop Timer</button>

<div *ngIf="time">
  <h3>{{time}}</h3>
</div>

<h1> Notifications </h1>

<button (click) = "GetHello()">Get Hello</button>

<ul> 
  <li *ngFor="let notif of notifications">{{notif}}</li>
</ul>
