
<!--<md-card>

<md-list>
  <md-list-item>
    <p md-line>
      <span> Manager ..... </span>
      <span> Created accommodation .... </span>
      <span>  <button md-raised-button color="primary">Accept</button>  </span>
      <span>  <button md-raised-button color="primary">Decline</button> </span>
    </p>
  </md-list-item>
</md-list>
</md-card>-->

<table>
    <thead>
      <tr>
        <!--<th> Manager </th>-->
        <th>  Name </th>
        <th>  Address </th>
        <th>  Manager </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications">
        <!--<td>{{notification.FullName}}</td>-->
        <td>{{notification.accommodation.Name}}</td>
        <td> {{notification.accommodation.Address}} </td>
        <td> {{notification.manager.UserName}} </td>
        <td><button  md-raised-button  color="primary"(click)="acceptAccommodation(notification.accommodation.Id)">Accept</button></td>
        <!--<td><button  md-raised-button  color="accent" (click)="declineAccommodation(notification.Id)">Decline</button></td>-->
      </tr>
    </tbody>
  </table>

<!--<h1>Current Time</h1>
<button (click) = "startTimer()">Start Timer</button>
<button (click) = "stopTimer()">Stop Timer</button>

<div *ngIf="time">
  <h3>{{time}}</h3>
</div>

<h1> Notifications </h1>

<button (click) = "GetHello()">Get Hello</button>

<ul> 
  <li *ngFor="let notif of notifications">{{notif}}</li>
</ul>-->
