<form class="example-form" #f1="ngForm" (ngSubmit)="onSubmitRegister(f1.value, f1)">
  <table class="example-full-width" cellspacing="5">
    <tr>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Name" name="Name" ngModel>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Code" name="Code" ngModel>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Address" name="Address" ngModel>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Longitude" name="Longitude" ngModel>
        </md-input-container>
      </td>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Latitude" name="Latitude" ngModel>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container>
          <textarea rows="5" cols="50" mdInput placeholder="Description" width="200" name="Description" ngModel></textarea>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <image-upload
        [max]="100"
        [url]="'example.com/images/upload'"
        [headers]="[
         {header: 'Authorization', value: 'MyToken'}
        ]"
        [buttonCaption]="'Select Images!'"
        [dropBoxMessage]="'Drop your images here!'"
        (onFileUploadFinish)="imageUploaded($event)"
        (onRemove)="imageRemoved($event)"
        (isPending)="disableSendButton($event)">
</image-upload>
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit" md-raised-button color="primary">Add</button>
      </td>
    </tr>
  </table>
</form>