<md-card>
  <md-card-header>
    <img md-card-avatar [src] = 'accommodation.ImageURL'>
    <md-card-title>{{accommodation.Name}}</md-card-title>
    <md-card-subtitle>Address: {{accommodation.Address}}</md-card-subtitle>
  </md-card-header>
  <img md-card-lg-image [src] = 'accommodation.ImageURL'>
  <md-card-content>
    <p>{{accommodation.Description}}</p>
  </md-card-content>
</md-card>

<!-- Prikaz soba i rezervacije smestaja i komentara za dati smestaj -->
<table class="example-full-width" cellspacing="5">
  <tr>

    <td valing="top">
        <app-comment [id]="id"></app-comment>
    </td>
    <td valign="top">
        <app-room></app-room>
    </td>
    <td valign="top">
        <app-room-reservation></app-room-reservation>
    </td>
  </tr>

</table>
