<div>
  <h3> Edit / Delete data </h3>
 <!--deo za unos editovanog-->
  <form class="example-form" #f1="ngForm" (ngSubmit)="onSubmitCountry(f1.value, f1)">
    <table class="example-full-width" cellspacing="5">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Name" name="Name" 
            [(ngModel)]="model.Name">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Code" name="Code"
             [(ngModel)]="model.Code">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" md-raised-button color="primary">Save</button>
        </td>
      </tr>
    </table>
  </form>
<!--deo za prikaz-->
  <table>
    <thead>
      <tr>
        <th> Name </th>
        <th> Code </th>
        <th> Edit </th>
        <th> Delete </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let myCountry of countries">
        <td>{{myCountry.Name}}</td>
        <td>{{myCountry.Code}}</td>
        <td><button  md-raised-button  color="primary"(Click)="editCountry(myCountry.Id)">Edit</button></td>
        <td><button  md-raised-button  color="accent" (click)="deleteCountry()">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>